name: CI

on:
  push:
    branches: [ master, feat/*, rc/* ]
  pull_request:
    branches: [ master, feat/*, rc/* ]
  workflow_dispatch:

permissions:
  actions: write
  checks: write
  contents: write
  id-token: write
  issues: write
  discussions: write
  pull-requests: write
  statuses: write

jobs:
  contracts:
    name: Contracts
    uses: multiversx/mx-sc-actions/.github/workflows/contracts.yml@v6.0.0
    with:
      rust-toolchain: 1.86
      enable-proxy-compare: false
      coverage-args: --ignore-filename-regex='/(tests|interactor|meta|wasm|output|proxies|common)/|/\.cargo/|/\.rustup/|proxy\.rs$|storage\.rs$|structs\.rs$|events\.rs$|errors\.rs$' --output ./coverage.md
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}